 .u-section-1 {
  background-image: url("images/kitchen4.png");
  background-position: 50% 28.8%;
}

.u-section-1 .u-sheet-1 {
  min-height: 861px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 408px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 257px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 694px;
}

.u-section-2 .u-shape-1 {
  width: 304px;
  height: 304px;
  margin: 21px auto 0 23px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: -202px auto 0 23px;
  padding: 9px 14px 11px 13px;
}

.u-section-2 .u-image-1 {
  width: 475px;
  height: 314px;
  margin: -139px 303px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 306px;
  height: 306px;
  margin: -9px 0 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: -201px 10px 60px auto;
  padding: 10px 5px 10px 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-top: -201px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -202px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 225px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 80px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 563px;
}

.u-section-3 .u-image-1 {
  width: 515px;
  height: 385px;
  margin: 64px 26px 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 332px;
  height: 332px;
  margin: -350px auto 0 34px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: -212px auto 60px 35px;
  padding: 9px 0 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 254px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -219px;
    margin-left: 8px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 608px;
}

.u-section-4 .u-shape-1 {
  width: 313px;
  height: 313px;
  margin: 61px 74px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 346px;
  object-position: 50% 15.63%;
  margin: -278px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -267px 79px 60px auto;
  padding: 10px 16px 10px 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 470px;
    height: 313px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 360px;
    height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-4 .u-image-1 {
    width: 270px;
    height: 180px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -249px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 27px;
  }

  .u-section-4 .u-image-1 {
    width: 170px;
    height: 113px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -128px;
  }
}