.u-section-1 .u-sheet-1 {
  min-height: 462px;
}

.u-section-1 .u-image-1 {
  width: 418px;
  height: 255px;
  margin: 87px auto 0 14px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -255px 125px 60px 570px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 254px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 25px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 207px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -207px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 462px;
}

.u-section-2 .u-image-1 {
  width: 418px;
  height: 255px;
  margin: 87px auto 0 14px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -255px 103px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 254px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 3px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 73px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 207px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -207px;
    margin-left: 0;
  }
}
