<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<div class="main-content">
    <h1>404</h1>
    <p>{{url}} doesn't exist or has been moved.</p>
    <p>click <a href='/'>here</a> to return to civilization</p>
</div>


<style type="text/css">
    .main-content {
        text-align: center;
        font-size: 2em;
        max-width: 80vw;
    }

    @media only screen and (min-width: 768px) {

        /* For desktop: */
        .main-content {
            text-align: center;
        }
    }
</style>

</html>