<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Restaurants</title>
  <link rel="stylesheet" href="/css/nicepage.css" media="screen">
  <link rel="stylesheet" href="/css/Restaurants.css" media="screen">
  <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 4.4.3, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">


  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "/headline1.png"
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Restaurants">
  <meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode">
  <header class="u-clearfix u-header u-palette-1-light-1" id="sec-d19b">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/index" class="u-image u-logo u-image-1" data-image-width="368" data-image-height="441">
        <img src="/headline1.png" class="u-logo-image u-logo-image-1">
      </a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse u-custom-font u-font-playfair-display">
          <a class="u-button-style u-nav-link" href="#">
            <svg class="u-svg-link" viewBox="0 0 24 24">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
              xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
              <g>
                <rect y="1" width="16" height="2"></rect>
                <rect y="7" width="16" height="2"></rect>
                <rect y="13" width="16" height="2"></rect>
              </g>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-custom-font u-font-playfair-display u-nav u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/index"
                style="padding: 10px 86px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/about"
                style="padding: 10px 86px;">About</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="/register" style="padding: 10px 86px;">Sign In</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="/volunteer" style="padding: 10px 86px;">Volunteer</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="/restaurants" style="padding: 10px 86px;">Restaurants</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/home"
                    style="padding: 10px 86px;">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about"
                    style="padding: 10px 86px;">About</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/register"
                    style="padding: 10px 86px;">Sign In</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/volunteer"
                    style="padding: 10px 86px;">Volunteer</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/restaurants"
                    style="padding: 10px 86px;">Restaurants</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="u-align-center u-clearfix u-section-1" id="sec-a538">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="612"
                data-image-height="406" src="/soulfood.png">
              <div class="u-container-style u-expanded-width-xs u-group u-group-1">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <h4 class="u-text u-text-1">Martin's Kitchen</h4>
                  <p class="u-text u-text-2">Serving leftovers starting at 6 PM to 10 PM on Mondays, Wednesdays, and
                    Fridays.</p>
                  <a href="/register" data-page-id="990803597"
                    class="u-border-1 u-border-black u-border-hover-palette-2-base u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-text-hover-palette-2-base u-btn-1">learn
                    more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-2" data-image-width="612"
                data-image-height="391" src="/japanese.png">
              <div class="u-container-style u-expanded-width-xs u-group u-group-2">
                <div class="u-container-layout u-valign-top u-container-layout-4">
                  <h4 class="u-text u-text-3">Pacific Buffet</h4>
                  <p class="u-text u-text-4">Serving leftovers from 5 PM to 9 PM on Tuesdays, Thursdays, and Saturdays.
                  </p>
                  <a href="/register" data-page-id="990803597"
                    class="u-border-1 u-border-black u-border-hover-palette-2-base u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-text-hover-palette-2-base u-btn-2">learn
                    more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-3" data-image-width="612"
                data-image-height="408" src="/american.png">
              <div class="u-container-style u-expanded-width-xs u-group u-group-3">
                <div class="u-container-layout u-valign-top u-container-layout-6">
                  <h4 class="u-text u-text-5">Ruth's BBQ</h4>
                  <p class="u-text u-text-6">Serving leftovers from 4 PM to 8 PM on Sundays, Tuesdays, and Fridays.</p>
                  <a href="/register" data-page-id="990803597"
                    class="u-border-1 u-border-black u-border-hover-palette-2-base u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-text-hover-palette-2-base u-btn-3">learn
                    more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-7">
              <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-4" data-image-width="612"
                data-image-height="363" src="/italian.png">
              <div class="u-container-style u-expanded-width-xs u-group u-group-4">
                <div class="u-container-layout u-valign-top u-container-layout-8">
                  <h4 class="u-text u-text-7">Giorno's Grill</h4>
                  <p class="u-text u-text-8">Serving leftovers from 7 PM to 11 PM on Wednesdays, Thursdays and
                    Saturdays.</p>
                  <a href="/register" data-page-id="990803597"
                    class="u-border-1 u-border-black u-border-hover-palette-2-base u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-text-hover-palette-2-base u-btn-4">learn
                    more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="u-custom-font u-font-playfair-display u-text u-text-default u-text-9">Are you a restaurant owner
        interested in donating leftovers? Would you like to be mor​e involved in your community?&nbsp;<br>
        <a href="/volunteer" data-page-id="25310893"
          class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-5">Sign
          up to learn more!</a>
      </p>
    </div>
  </section>


  <footer class="u-clearfix u-footer u-grey-80" id="sec-1f7f">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/index" data-page-id="195630463" class="u-image u-logo u-image-1" data-image-width="1702"
        data-image-height="1063" title="Home">
        <img src="/logo1.png" class="u-logo-image u-logo-image-1">
      </a>
      <div
        class="u-align-left u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-30 u-line-1">
      </div>
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <!--position-->
                <div data-position="" class="u-position u-position-1">
                  <!--block-->
                  <div class="u-block">
                    <div class="u-block-container u-clearfix">
                      <!--block_header-->
                      <h5 class="u-block-header u-text">
                        <!--block_header_content-->Address
                        <!--/block_header_content-->
                      </h5>
                      <!--/block_header-->
                      <!--block_content-->
                      <div class="u-block-content u-text">
                        <!--block_content_content--> 5678 Hearty Lane, HackViolet, USA
                        <!--/block_content_content-->
                      </div>
                      <!--/block_content-->
                    </div>
                  </div>
                  <!--/block-->
                </div>
                <!--/position-->
              </div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-size-20 u-layout-cell-2">
              <div class="u-container-layout u-valign-bottom u-container-layout-2">
                <!--position-->
                <div data-position="" class="u-position u-position-2">
                  <!--block-->
                  <div class="u-block">
                    <div class="u-block-container u-clearfix">
                      <!--block_header-->
                      <h5 class="u-block-header u-text">
                        <!--block_header_content-->Made With
                        <!--/block_header_content-->
                      </h5>
                      <!--/block_header-->
                      <!--block_content-->
                      <div class="u-block-content u-text">
                        <!--block_content_content-->Figma<br>VSCode<br>NicePage<br>Mongoose.js
                        <!--/block_content_content-->
                      </div>
                      <!--/block_content-->
                    </div>
                  </div>
                  <!--/block-->
                </div>
                <!--/position-->
              </div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-size-20 u-layout-cell-3">
              <div class="u-container-layout u-valign-top u-container-layout-3">
                <!--position-->
                <div data-position="" class="u-position u-position-3">
                  <!--block-->
                  <div class="u-block">
                    <div class="u-block-container u-clearfix">
                      <!--block_header-->
                      <h5 class="u-block-header u-text">
                        <!--block_header_content-->GitHub
                        <!--/block_header_content-->
                      </h5>
                      <!--/block_header-->
                      <!--block_content-->
                      <div class="u-block-content u-text">
                        <!--block_content_content-->@dascolt1<br>@lunarsarah<br>@halfhalfdome
                        <!--/block_content_content-->
                      </div>
                      <!--/block_content-->
                    </div>
                  </div>
                  <!--/block-->
                </div>
                <!--/position-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="/index" target="_blank">
    </a>
  </section>
</body>

</html>